{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}


{% block body %}
       <div class="container-fliud">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li class="{{category}}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card" style="width: 100%">
                  <div class="card-header">
                    {{ user.name }}
                  </div>
                  <div class="card-body">

                      <img src="/{{ user.image_file }}" class="card-img-top" alt="">
                      <p class="lead">{{ user.email }}</p>
                      <p class="lead">{{ user.about }}</p>
                      <p class="lead">{{ user.id }}</p>
{#                      <a href="/project/delete/{{ project.id }}" class="btn btn-danger">Delete</a>#}
                  </div>

                </div>

            </div>
          {% if current_user.is_authenticated %}
            <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="" style="width: 100%">
                    <form action="{{ url_for('dashboard_update') }}" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" name="name" class="form-control" value="{{ user.name }}">
                            </div>
                              <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" name="email" class="form-control" value="{{ user.email }}">
                            </div>
                            <div class="form-group">
                                <textarea name="about">{{user.about}}</textarea>
                            </div>
                            <input type="text" name="image-file-old" value="{{ user.image_file }}" hidden>
                            <input type="file" name="image-file">
                            <p>{{ user.image_file }}</p>
                            <button type="submit" class="btn btn-info btn-block">Update</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

 {% endblock body %}